*{
    margin: 0;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}
body{
    height: 100vh;
}
header{
    box-shadow: 0px 6px 6px 0px #00000040;
    position: fixed;
    width: 100%;
    z-index: 2;
}
header p{
    background-color: #D1891C;
    padding: 10px 40px;
}
header h1{
    background-color: #00669F;
    padding: 20px 40px;
    color: white;
    font-size: medium;
}

main{
    padding: 150px 60px 60px;
    text-align: center;
    display: flex;
    align-items: center; 
    flex-direction: column;   
    gap: 4rem;
}

.card{
    width: 90%;
    min-width: 160px;
    max-width: 170px;
    background-color: #F3F3F3;
    border-radius: 20px 20px 0 0;
    box-shadow: 0px 4px 4px 0px #00000040;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.heart{
    align-self: self-start;
    color: red;
    font-size:small;

}
.fondo-batman{
    background-image: url("../img/BatmanFondo.png");
}
.fondo-maravilla{
    background-image: url("../img/MaravillaFondo.png");
}
.fondo-superman{
    background-image: url("../img/SupermanFondo.png");
}
.fondo-harley{
    background-image: url("../img/HarleyFondo.png");
}

.card-text{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 0.4em;
    margin-top: 20px;

}
.div-foto{
    height: 5rem;
    width: 5rem;
    display: block;
    border-radius: 50%;
    align-self: center;
    background-size: cover;
}
.batman{
    background-image: url("../img/batman.png");
    
}
.maravilla{
    background-image: url("../img/maravilla.png");
}
.superman{
    background-image: url("../img/superman.png");
}
.harley{
    background-image: url("../img/harley.png");
}
h2{
    text-align: center;
}
.card p{
    margin: 10px 0;
    text-align: start;
}
.card button{
    display: block;
    margin: auto;
    background-color: #00669F;
    color: white;
    border: none;
    box-shadow: 0px 2px 2px 0px #00000040;
    padding: 5px 10px;
    font-size: xx-small;
}
.mas{
    background-color: #00669F;

    color: white;
    padding: 5px 10px;
    border-radius: 50%;
    position: fixed;
    right: 10px;
    top: 50%;
}
footer{
    padding: 20px 40px;
    background-color: #00669F;
    color: white;
    text-align: center;
    position: sticky;
    bottom: 0px;
    font-size: 10px;
}

@media(min-width:500px){
    main{
        flex-direction:initial;
        flex-wrap: wrap;
        justify-content: center;
    }
    .card{
        width: 160px;
    }
    footer{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    footer p{
        flex-grow: 1;
    }
    footer h3{
        font-size: 1rem;
    }
}